
.App {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  background-image: url('./Images/lightWood.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

div {
  display: flex;  
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
  list-style: none;

}

li {
  float: left;
  background: #eee;
  margin-left: -20px;
  margin-bottom: -40px;
}

li:first-child {
  margin-left: 20px
}

p {
  /* margin: 0; */
  margin-top: .3em;
  margin-bottom: .3em;
  font-size: .95em;
  font-family: 'Lora', serif; 
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

